{% extends "base.html" %}
{% block content %}
<h1>About</h1>
<p>
	Created by <a href="http://qhao.info">Dr. Qiang Hao</a>, Lilu Martin, and <a href="http://ntresham.com">Nathan
		Tresham</a>. <a href="http://cs.wwu.edu">Department of Computer Science</a>, <a
		href="http://cse.wwu.edu">College of Science and
		Engineering</a>, <a href="http://wwu.edu">Western Washington University</a>. All source code is available on
	GitHub <a href="http://github.com/auto-testing-feedback/q-a-bot">here</a>.
</p>
{% endblock %}