<h3 class="mt-4">Posts & responses</h3>
<button type="button" class="folder-filter btn btn-outline-primary btn-sm" folder-filter="all">all</button>
{% for folder in bot.data.folders %}
<button type="button" class="folder-filter btn btn-outline-primary btn-sm"
	folder-filter="{{ folder }}">{{ folder }}</button>
{% endfor %}
<br/><br/>
<ul class="list-group">
	{% for question in bot.data.questions %}
	<li class="question w-100 list-group-item flex-column align-items-start"
		folders="{{ question.folders|to_pretty_array }}">
		<h5 class="mb-0">{{ question.title }}</h5>
		<small>created {{ question.created }} by {{ question.author }} in {{ question.term }}. id {{ question.id }} in
			{{ question.folders }}</small>
		<p class="mt-4 mb-0">{{ question.content }}</p>
		{% if question.responses|length > 0 %}
		<h5 class="mt-4">Responses</h5>
		<ul class="list-group">
			{% for response in question.responses %}
			<li class="d-flex list-group-item flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<p class="mb-0">{{ response.content }}</p>
					<small>{{ question.author }}</small>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>