{% extends 'base.html' %}

{% block content %}
<h1>About</h1>
<div class="w-4">
	<p>Created by <a href="http://qhao.info">Dr. Qiang Hao</a> and <a href="http://ntresham.com">Nathan Tresham</a>. <a href="http://cs.wwu.edu">Department of Computer Science</a>, <a href="http://cse.wwu.edu">College of Science and Engineering</a>, <a href="http://wwu.edu">Western Washington University</a>. All source code is available on GitHub <a href="http://github.com/auto-testing-feedback/q-a-bot">here</a>.
	<p>The goal of this project is to create a service that can spawn and manage bots that provide answers to previously-answered questions on a <a href="http://piazza.com">Piazza</a> forum using <a href="http://en.wikipedia.org/wiki/Machine_learning">machine learning</a> and <a href="http://en.wikipedia.org/wiki/Natural_language_processing">natural language processing</a> to find the intent of a given question and determine whether two questions are asking the same thing.</p>
	<p>
	More specific goals of the project are as follows: the project should be able to...
	<ul>
		<li>pull, clean, and store data from Piazza in a database for better performance,</li>
		<li>present data in the form of a web-based application,</li>
		<li>and render question and answer data in a different way than on Piazza; e.g., with the help of visualizations--collapsable questions with follow-ups/answers, differentiate learning questions from non-learning questions, etc.</li>
	</ul>
	</p>
</div>
{% endblock %}
