{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>

<div class="container" id="home-container">
	<div class="row">
		<div class="container col-3 w-100 bot-list-col">
			<div style="position: fixed">
				<div class="row">
					<div class="col">
						<div class="list-group bot-list" id="list-tab" role="tablist">
							{% for bot in bots %}
							{% set identifier = bot.name|lower|replace(' ', '_') %}
							<a class="list-group-item list-group-item-action bot-tab-button" id="list-{{ identifier }}-list" data-toggle="list" href="#list-{{ identifier }}" role="tab" aria-controls="{{ identifier }}">{{ bot.name }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#create-new-bot-modal">Create new bot</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="tab-content" id="nav-tabContent">
				{% for bot in bots %}
				{% set identifier = bot.name|lower|replace(' ', '_') %}
				<div class="tab-pane" id="list-{{ identifier }}" role="tabpanel" aria-labelledby="list-{{ identifier }}-list">
					<div class="w-100">
						<div class="mb-4">
							<div class="d-flex justify-content-between align-items-center">
								<h3 class="mb-0" style="border-bottom: 2px solid black">{{ bot.name }}</h3>
								<span><input class="toggle-bot-view-raw" id="toggle-view-raw" bot-identifier="{{ identifier }}" type="checkbox"> Raw view</span>
							</div>
							<small>terms: {{ bot.terms }}</small>
						</div>
						<div class="bot-view-normal mb-4" id="bot-view-normal" bot-identifier="{{ identifier }}">
							<h4>Questions</h4>
							<button type="button" class="folder-filter btn btn-outline-primary btn-sm" folder-filter="all">all</button>
							{% for folder in bot.data.folders %}
							<button type="button" class="folder-filter btn btn-outline-primary btn-sm" folder-filter="{{ folder }}">{{ folder }}</button>
							{% endfor %}
							<ul class="list-group">
								{% for question in bot.data.questions %}
								<li class="question w-100 list-group-item flex-column align-items-start" folders="{{ question.folders|to_pretty_array }}">
									<h5 class="mb-0">{{ question.title }}</h5>
									<small>created {{ question.created }} by {{ question.author }} in {{ question.term }}. id {{ question.id }} in {{ question.folders }}</small>
									<p class="mt-4 mb-0">{{ question.content }}</p>
									{% if question.responses|length > 0 %}
									<h5 class="mt-4">Responses</h5>
									<ul class="list-group">
										{% for response in question.responses %}
										<li class="d-flex list-group-item flex-column align-items-start">
											<div class="d-flex w-100 justify-content-between">
												<p class="mb-0">{{ response.content }}</p>
												<small>{{ question.author }}</small>
											</div>
										</li>
										{% endfor %}
									</ul>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
						<pre class="bot-view-raw" id="bot-view-raw" bot-identifier="{{ identifier }}" style="display: none"><code>{{ bot|tojson_pretty }}</code></pre>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="create-new-bot-modal" tabindex="-1" role="dialog" aria-labelledby="create-new-bot-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Create new bot</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Bot name:</label>
						<input type="text" class="form-control" id="recipient-name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="create-bot-button" data-dismiss="modal">Create</button>
			</div>
		</div>
	</div>
</div>

<script src="/static/index.js"></script>
{% endblock %}
